/* #app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

*/

.highlight {
    box-shadow: inset 0 -0.5em 0 #fffd44;
}

.swiper {
    width: 100%;
    height: auto;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: start;
    align-items: start;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}